:root{
    --dark-cyan: hsl(183, 100%, 15%);
    --grayish-cyan-1: hsl(186, 14%, 43%);
    --grayish-cyan-2: hsl(184, 14%, 56%);
    --grayish-cyan-3: hsl(185, 41%, 84%);
    --grayish-cyan-4: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }