:root{
    --vdark-cyan: hsl(183, 100%, 15%);
    --dgrayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --lgrayish-cyan: hsl(185, 41%, 84%);
    --ligrayish-cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }